.Footer {
  padding: 3rem 0;
  background: var(--lightGrey);
  display: inline-grid;
  width: 100vw;
  grid-template-columns: 50% 50%;
  align-content: middle;
  justify-content: center;
}

.item {
  text-align: center; 
  margin: auto;
}

@media screen and (max-width: 600px) {
  .social {
    text-decoration: none;
    margin: 1rem;
    display: inline-flex;
  }
}

.social {
  text-decoration: none;
  margin: 1rem;
}